@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main{
    margin: 0;
    font-family:  "Roboto", Arial, Helvetica, sans-serif;
    background-image: url("\public/assets/bits.png");
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
}
.line{
    border-top: none;
    border-top: 2px solid #DCA1A1;
    width: 80%;
}
p{
    word-spacing: 6px;
    padding: auto;
}

